[ws]
host = ""
port = 7000


[rpc]
bind = 'tcp://127.0.0.1:5500'


[logging]
  version = 1
  disable_existing_loggers = true

  [logging.formatters]
    [logging.formatters.standard]
      format = '%(asctime)s [%(levelname)s] %(name)s: %(message)s'

  [logging.handlers]
     [logging.handlers.default]
       level = "INFO"
       formatter = "standard"
       class = "logging.StreamHandler"
       stream = "ext://sys.stdout"

  [logging.loggers]
    [logging.loggers.""]
      handlers= ['default']
      level = 'WARNING'
      propagate = false

    [logging.loggers.microfarm_websockets]
      handlers = ["default"]
      level = "DEBUG"
      propagate = false
